:root {
  --color-uno: #757575;
  --color-dos: #212121;
  --color-tres: #ffffff;
  --color-cuatro: #f5f4fa;
  --color-cinco: #2172f3;
  --color-webstudio: #2196f3;
  --color-service: #188ce8;
  --color-background: #2f303a;
  --color-info-down: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;
}

.cabecera {
  display: flex;
  height: 80px;
  margin-left: 0px;
  margin-top: 0px;
  border-bottom: 1px solid #ececec;
  background: var(--color-tres);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 281px;
  height: 16px;
  left: 453px;
  top: 32px;
  padding-top: 32px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--color-uno);
  background-color: var(--color-tres);
  letter-spacing: 0.03em;
  margin: 0%;
}

/*header*/

.title-web-studio {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--color-webstudio);
  margin: auto;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.link-menu,
.link-menu:visited {
  font-family: 'Roboto';
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-dos);
  font-weight: 500;
  margin: auto;
  margin-right: 50px;
}

.link-menu:hover,
.link-menu:focus {
  color: var(--color-webstudio);
}

.link-menu.current {
  color: var(--color-webstudio);
}

.link-button:visited {
  color: var(--color-dos);
}

.link-menu {
  text-decoration: none;
}

.list-contacto {
  display: flex;
  list-style: none;
  margin: auto;
  padding-left: 290px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-contacto a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-uno);
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-menu-studio-mail {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--color-uno);
  text-decoration: none;
}

.link-menu-studio-mail:hover,
.link-menu-studio-mail:focus,
.link-menu-studio-mail:active {
  color: var(--color-webstudio);
}

.link-menu-studio-tel {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--color-uno);
  text-decoration: none;
}

.link-menu-studio-tel:hover,
.link-menu-studio-tel:focus,
.link-menu-studio-tel:active {
  color: var(--color-webstudio);
}

.list-style {
  list-style-type: none;
  display: flex;
  margin-right: 50px;
  margin-top: 32px;
}

/*Titulo */
.tittle {
  font-weight: 900;
  font-size: 44px;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-tres);
  width: 696px;
  display: block;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
  height: 120px;
  left: 448px;
  top: 280px;
  color: var(--color-tres);
}

.solutions {
  background: var(--color-background);
  text-align: center;
  height: 600px;
  margin-left: -4px;
  margin-top: 80px;
  padding-top: 200px;
  padding-bottom: 280px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: auto;
}

/*Boton Servicio*/
.button-service {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.86;
  color: var(--color-tres);
  background: var(--color-webstudio);
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.button-service:hover {
  background-color: var(--color-cinco);
}

.button-service:focus {
  background-color: var(--color-webstudio);
  color: var(--color-tres);
}

/* a que nos dedicamos */

.principales-caracteristicas {
  padding: 0px;
  margin: 0 auto;
}

.dedicamos-team {
  color: var(--color-dos);
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-style-dedicamos {
  list-style-type: none;
  display: flex;
  padding-bottom: 94px;
  justify-content: space-between;
}

.tittle-h2-dedicamos {
  font-size: 36px;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
}

.teclado {
  width: 350px;
  height: 323.7px;
  margin-right: 30.2px;
}

.laptop {
  width: 350px;
  height: 323.7px;
  margin-right: 23.42px;
}

.tablet {
  width: 350px;
  height: 323.7px;
}

.tittle-h2-team {
  font-size: 36px;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
}

.caracteristicas {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-dos);
  margin-right: 30px;
  margin: 0 auto;
}

.list-style-valores {
  width: 1180px;
  height: 122px;
  left: 205px;
  top: 775px;
  display: flex;
  list-style-type: none;
  margin: auto;
  justify-content: space-between;
}

.habilidades {
  line-height: 1.71;
  color: var(--color-uno);
  width: 270px;
  margin: auto;
}

/* Nuestro equipo de trabajo*/
.list-style-trabajadores {
  list-style-type: none;
  flex-grow: 1;
  margin: 10px;
  display: flex;
  padding: 24px;
}

.colaboradores {
  font-size: 16px;
  color: var(--color-dos);
  font-weight: 500;
}
.andres {
  width: 270px;
  height: 368px;
  left: 208px;
  top: 1696px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.carla {
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1696px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.mario {
  width: 270px;
  height: 368px;
  left: 822px;
  top: 1696px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.pablo {
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1696px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.profesion {
  font-size: 16px;
  color: var(--color-uno);
  font-weight: 400;
  margin: auto;
  text-align: center;
}

.bg-team {
  font-style: normal;
  line-height: 1.18;
  background: var(--color-cuatro);

  width: 1200px;
  height: 648px;
  left: 0px;
  top: 1510px;
}

/* Filtros proyectos */

.text-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-uno);
}

.link-menu.current {
  color: var(--color-webstudio);
}

/*Footer*/

.bg-footer {
  background: var(--color-background);
  width: 1200px;
  height: 252px;
  left: 0px;
  top: 2158px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title-web-studio-footer {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--color-webstudio);
  margin: auto;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.info {
  font-family: 'Roboto';
  font-style: normal;
  line-height: 1.71;
  padding: 0%;
  width: 231px;
  height: 92px;
}

.list-style-info {
  list-style: none;
  font-style: normal;
  padding: 0%;
  width: 231px;
  height: 92px;
}

.link-button-address {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2258px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-tres);
}

.mail-tel-down {
  width: 231px;
  height: 24px;
  left: 215px;
  top: 2329px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

/**/
.link-button-address:hover,
:focus {
  color: var(--color-webstudio);
  cursor: pointer;
}

.link-button:hover,
:focus {
  color: var(--color-webstudio);
  cursor: pointer;
}

.link-button {
  text-decoration: none;
}

footer {
  min-width: 250;
  /* height: 252px; */
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*-----portafolio------*/

.bg-portafolio {
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 186px;
}

.list-style-proyectos {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.list-style-button {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-dos);
  background: var(--color-cuatro);
  border-radius: 4px;
  border-color: var(--color-cuatro);
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px;
  padding-bottom: 50px;
}

.imagenes-proyectos {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  padding: 30px;
  align-items: center;
}
.button-project {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-dos);
  background: var(--color-cuatro);
  border-radius: 4px;
  border-color: var(--color-cuatro);
  cursor: pointer;
}

.button-project:hover,
.button-project:focus {
  background-color: var(--color-webstudio);
  color: var(--color-tres);
}

.button-project.current {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--color-dos);
  text-align: center;
  background: var(--color-cuatro);
  border-radius: 4px;
  border-color: var(--color-cuatro);
  cursor: pointer;
}
.button-project.current {
  background-color: var(--color-webstudio);
  color: var(--color-tres);
}
.button-project.current:hover,
.button-project.current:focus {
  background-color: var(--color-webstudio);
  color: var(--color-tres);
}
/* proyectos portafolio*/
.name-project {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-dos);
  font-style: normal;
  font-weight: 700;
}
